/* .navbar-expand-lg .navbar-nav .nav-link{
    color: rgb(0, 0, 0);
}
.nav-link{
    color: rgb(0, 0, 0);
}
.carousel img{
    height: 900px;
    width: 400px;
}
.carousel h5 {
    color: black;
}
.carousel p{
    color: black;
}
.centre-item{
    justify-content: center;
} */
