{% extends "common_code/base.html" %}
{% load static %}
{% block title %}Tab page{% endblock title %}

{% block content %}
{% comment %} start card  {% endcomment %}
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="{% static "image/tab/tab1.jpg" %}" class="card-img-top" alt="image not found">
        <div class="card-body">
          <h5 class="card-title">Apple tab 1</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static "image/tab/tab2.jpg" %}" class="card-img-top" alt="image not found">
        <div class="card-body">
          <h5 class="card-title">Apple tab 2</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static "image/tab/tab3.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Apple tab 3</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
  <br>
  {% comment %} ------------------------------------------------------------ {% endcomment %}
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="{% static "image/tab/tab4.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Apple tab 4</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static "image/tab/tab5.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Apple tab 5</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static "image/tab/tab6.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Apple tab 6</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
  <br>
{% comment %} end card {% endcomment %}
{% endblock content %}