<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Creation Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/usercf.css" %}">
    <!-- Move the {% load static %} tag here for better organization -->
</head>
<body>
    <h2>User Creation Form</h2>
    <form action="" method="POST" class = 'usercf'>
        {% csrf_token %}
        <!-- Include {% csrf_token %} for CSRF protection -->
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors|striptags }} 
                <br><br>
            </div>
            <!-- Wrap each form field and its label in a div for better structure -->
        {% endfor %}
        <input type="submit" value="Sing up" class='singup'>
        {% comment %} <a href="{% url "login" %}">Login</a> {% endcomment %}
    </form>
</body>
</html>
