{% extends "common_code/base.html" %}
{% load static %}
{% comment %} <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"> {% endcomment %}
{% block title %}Phone{% endblock title %}

{% block content %}
{% comment %} start card  {% endcomment %}
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="{% static "image/phone/iphone15.jpg" %}" class="card-img-top" alt="image not found">
        <div class="card-body">
          <h5 class="card-title">iPhone 15 pro max</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static "image/phone/iphone14.jpg" %}" class="card-img-top" alt="image not found">
        <div class="card-body">
          <h5 class="card-title">iPhone 14 pro max</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static "image/phone/iphone13.jpg" %}" class="card-img-top" alt="image not found">
        <div class="card-body">
          <h5 class="card-title">iPhone 13 pro max</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
  <br>
  {% comment %} ------------------------------------------------------------ {% endcomment %}
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="{% static "image/phone/iphone12.jpg" %}" class="card-img-top" alt="image not found">
        <div class="card-body">
          <h5 class="card-title">iPhone 12 pro max</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static "image/phone/phone1.jpg" %}" class="card-img-top" alt="image not found">
        <div class="card-body">
          <h5 class="card-title">iPhone 1</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static "image/phone/phone2.jog" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">iPhone 2</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
  <br>
{% comment %} end card {% endcomment %}
{% endblock content %}
{% comment %} 

<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script> {% endcomment %}